
#caption{
    color: #00028b;
    font-size: large;
}
#submit{
    color: brown;
    border: 3px solid #31e22b;
    background-color: aqua;
   width:60px;
    height: 40px;
    text-align: center;
}
#form{
    width: 25%;
    background-color:darkorchid;
    border:2px solid #fff324;
    text-align: center;
    margin: auto;
}
#register{
    margin: auto;
    color: black;
}
body {
    background: url("/img/homework.jpg") no-repeat center;
    background-size: 100%;
}

